/* GLOBAL */
:root {
  --primary-color: #2e2f42;
  --par-color: #434455;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --body-color: #ffffff;
  --light-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--body-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 428px;
}

/* .section {
  padding-top: 120px;
  padding-bottom: 120px;
} */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

@media screen and (max-width: 1158px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* MOBILE MENU */

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-open {
  cursor: pointer;
  line-height: 0;
  border: transparent;
  background-color: transparent;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--body-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-btn {
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:focus {
  background-color: var(--hover-color);
}

.mobile-menu-close:focus .mobile-close-btn {
  fill: var(--body-color);
}

.mobile-menu-section {
  padding-top: 80px;
  padding-left: 40px;
}

.menu-list-link:not(:last-child) {
  margin-bottom: 40px;
}

.menu-info {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--hover-color);
}

.menu-info:focus {
  color: var(--hover-color);
}

.menu-address-list {
  margin-top: 284px;
}

.menu-address-list-data:not(:last-child) {
  margin-bottom: 40px;
}

.menu-contacts {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts:focus {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu-icon-list {
  display: flex;
  gap: 56px;
  align-items: center;
  padding-top: 48px;
}

.menu-icon-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.menu-icon-list-link:focus {
  background-color: var(--hover-color);
}

.menu-icons {
  fill: var(--light-color);
}

/* HEADER */

@media screen and (max-width: 767px), (min-width: 768px) {
  .header-list {
    display: none;
  }

  .header-address {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    margin-right: 76px;
  }

  .logo-studio-part-top {
    color: var(--primary-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  .header-list {
    display: flex;
  }

  .header-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .header-nav {
    display: flex;
    text-decoration: none;
  }

  .logo-studio-part-top {
    color: var(--primary-color);
  }

  .header-list {
    display: flex;
  }

  .header-list-link:not(:last-child) {
    margin-right: 40px;
  }

  .header-address {
    display: contents;
  }

  .address-list {
    position: absolute;
    right: 0;
    padding-right: 15px;
    list-style: none;
  }

  .nav-info {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current-page {
    color: var(--hover-color);
  }

  .nav-info.current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }

  .nav-info:hover,
  .nav-info:focus {
    color: var(--hover-color);
  }

  .contacts {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--par-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover,
  .contacts:focus {
    color: var(--hover-color);
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    text-decoration: none;
  }

  .header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    margin-right: 76px;
  }

  .header-list {
    display: flex;
  }

  .header-address {
    margin-left: auto;
  }

  .address-list {
    display: flex;
  }

  .address-list-data:not(:last-child) {
    margin-right: 40px;
  }

  .nav-info {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contacts {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* MAIN */

/* HERO */

@media screen and (max-width: 767px), (min-width: 768px) {
  .section-hero {
    background-color: var(--par-color);

    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-color);
  width: 320px;

  margin-left: auto;
  margin-right: auto;
}

.main-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--body-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  padding: 16px 32px;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

/* ADVANTAGES */

@media screen and (max-width: 1158px) {
  .advantages-icon {
    display: none;
  }

  .advantages-list-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .advantages-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--primary-color);
  }

  .advantages-parag {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--par-color);
  }
}

@media screen and (min-width: 768px) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages-list-title {
    text-align: left;
  }
  .advantages-list {
    display: flex;

    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .advantages-list-item {
    flex-basis: calc((100%-24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages-icon-box {
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 4px;
  }

  .advantages-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color);
    margin-bottom: 8px;
  }
}

/* POSSIBILITIES */

@media screen and (max-width: 1157px) {
  .possibilities {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .possibilities {
    padding-bottom: 120px;
  }

  .possibilities-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
  }

  .possibilities-list {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

/* OUR TEAM */
.team {
  background-color: var(--light-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}

.team-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    align-items: center;
    column-gap: 24px;
    list-style: none;
    margin-top: 72px;
  }

  .team-list-item {
    background-color: var(--body-color);
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .team-list-image-wrap {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    list-style: none;
    margin-bottom: 8px;
  }

  .team-list-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--par-color);
  }

  .team-icon-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
  }

  .team-icon-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
  }

  .team-icon-list-link:hover,
  .team-icon-list-link:focus {
    background-color: var(--hover-color);
  }

  .team-icons {
    fill: var(--light-color);
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-list-item {
    flex-basis: calc((100% - 208px) / 4);
  }
  .team-icon-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
  }

  .team-icon-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
  }
  .team-icons {
    fill: var(--light-color);
  }
}

/* CUSTOMERS */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-list-link {
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

.customers-icons {
  fill: currentColor;
}

/* FOOTER */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--primary-color);
  padding: 100px 0 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-studio-part-bot {
  color: var(--light-color);
}

.footer-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  box-sizing: content-box;
  max-width: 264px;
  margin-top: 16px;
}

.footer-logo-side {
  margin-right: 120px;
}

.footer-social-side {
  margin-right: 80px;
}

.footer-social-title {
  color: var(--body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icon-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.footer-icon-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list-link:hover,
.footer-icon-list-link:focus {
  background-color: #31d0aa;
}

.footer-icons {
  fill: var(--light-color);
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-form-title {
  color: var(--body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form-email {
  height: 40px;
  border: 1px solid var(--body-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--body-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  min-width: 264px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-email:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form-email::placeholder {
  color: var(--body-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--accent-color);
  padding: 8px 24px 8px 24px;
  color: var(--body-color);
  border-color: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--hover-color);
}

.footer-form-icon {
  fill: var(--body-color);
}

/* PORTFOLIO */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* MENU BUTTONS */

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.button-list-data:not(:last-child) {
  margin-right: 24px;
}

.buttons {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--light-color);
  color: var(--accent-color);
  cursor: pointer;
  padding: 12px 24px 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover,
.buttons:focus {
  background-color: var(--hover-color);
  color: var(--body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

/* IMAGES */

.images-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  list-style: none;
}

.images-list-data-wrap {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 0 32px 16px;
}

.images-list-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-list-link:hover,
.images-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images-list-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.images-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.images-list-link:hover .images-overlay,
.images-list-link:focus .images-overlay {
  transform: translate(0, 0);
}

.images-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.par.iamges-list-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--par-color);
}

/* MODAL WINDOW */

.modal-backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--hover-color);
  border-color: transparent;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-color);
}

.modal-close-btn:hover .modal-btn-icon,
.modal-close-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-field:not(:nth-child(4)) {
  margin-bottom: 8px;
}

.form-description {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form-title {
  color: var(--par-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--par-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-policy-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
}

.modal-form-policy-desc::before {
  content: "";
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-desc::before {
  background-color: var(--hover-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-policy:focus + .modal-form-policy-desc::before {
  border: 2px solid var(--accent-color);
}

.modal-form-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--body-color);
  padding: 16px 32px 16px 32px;
  min-width: 169px;
  align-self: center;
  border-color: transparent;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--hover-color);
}

.modal-form-wrapper {
  display: block;
  position: relative;
}

.modal-form-comment {
  font-size: 12px;
  line-height: 1.17;
  color: var(--par-color);
  border-radius: 4px;
  outline: none;
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border-color: rgba(46, 47, 66, 0.4);
  padding-top: 8px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  margin-left: 19px;
  color: var(--primary-color);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-link {
  color: #404bbf;
}
